# Terraform state files
.gitignore
*.tfstate
*.tfstate.*


# Terraform variable overrides file
*.tfvars
*.tfvars.json

# Terraform plan output files
*.tfplan

# .terraform directory
.terraform/
.terraform.lock.hcl


# Ignore tfenv (Terraform version manager) files
.terraform-version
.terraform.lock.hcl

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE specific files (chỉ thêm nếu sử dụng các IDE tương ứng)

# Keypair folder
keypair/